.cover {
    background-image: url('../../../../public/images/head/header.jpg');
    background-size: cover;
    background-position: center;
  }

  .menuContainer {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  
  .menuContainerOpen {
    transform: translateX(0);
  }